@font-face {
    font-family: 'NotoSansLisu-Regular';
    src: url('http://lwinmoe.org/static/fonts/NotoSansLisu/NotoSansLisu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
