
<div id="footer">
    <div class="mb"></div>
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/lwinmoe" role="button"><i class="fab fa-github"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://www.linkedin.com/in/lwinmoe/" role="button"><i class="fab fa-linkedin"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://lwinmoe.org" role="button"><img src="/static/img/lwinmoe_qr.png" height="14px"/></a>
        </div>
    </div>
</div>
